<div class="container">
  <h1>Welcome to Anagrams!!!!!!!</h1>
  <p> Give me a word and I'll give you the anagram of it. </p>
  <form action="/" method="POST">
    <input type="text" name="input" placeholder="type in here">
    <input type="submit"> 
  </form>

</div>
